.button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: font-weight 0.2s; /* Mengurangi durasi transisi pada font-weight */
}

.button:hover {
  font-weight: bolder; /* Menambahkan efek bold saat hover */
}

.button.secondary {
  background-color: var(--text-light);
}

.button.secondary:hover {
  background-color: var(--text-color);
}

.button:disabled {
  background-color: var(--text-light);
  cursor: not-allowed;
  opacity: 0.7;
}

.button i {
  font-size: inherit;
}

.story-item__button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  transition: font-weight 0.2s;
}

.story-item__button:hover {
  font-weight: bolder;
}

.story-item__button i {
  margin-left: 8px;
}

.button-group {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .button-group {
    flex-direction: column;
  }
}
